
<h2>Cadastrar Emprestimo</h2>

<form method="dialog">
    

    <input type="text" name="nome" placeholder="Estudante">
    
    

    <input type="email" name="email" placeholder="Livro">
    

    
    <label for="">
        Loan Date:

        <input type="date">
    </label>

    <label for="">
        Due Date:

        <input type="date">
    </label>

    
     
    <div class="btns">
        <button id="btnFechar">Fechar</button>

        <button type="submit" id="btnSavar">Salvar</button>
    </div>
    
</form>

