
<h2>Cadastrar Aluno</h2>

<form method="dialog">
    

    <input type="text" name="nome" placeholder="Nome do aluno">
    
    

    <input type="email" name="email" placeholder="Email do aluno">
    
    

    <input type="text" name="ra" placeholder="RA do aluno">
    
    

    <input type="text" name="curso" placeholder="Curso do aluno">
    

    <input type="tel" name="telefone" placeholder="Telefone do aluno">
     
    <div class="btns">
        <button id="btnFechar">Fechar</button>

        <button type="submit" id="btnSavar">Salvar</button>
    </div>
    
</form>

