<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="../pngtree-colorful-book-anime-literature-emblem-png-image_15317266.png" alt="logo ">
            <h2>Library</h2>
        </div>
        <ul class="sidebar-links">
            <li>
                <a href="../index.html">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span> Dashboard
                </a>
            </li>
            <li>
                <a href="../students.html">
                    <span class="material-symbols-outlined">
                        school
                    </span> Students
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        book
                    </span> Book
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        sync_alt
                    </span> Loans
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        group
                    </span> Librarians
                </a>
            </li>

        </ul>
        <div class="user-account">
            <div class="user-profile">
                <img src="../pngtree-colorful-book-anime-literature-emblem-png-image_15317266.png" alt="">
                <div class="user-detail">
                    <h3>Jaja</h3>
                    <span>ADMIN</span>
                </div>
                
            </div>

            <a href="#">
                <span class="material-symbols-outlined">
                    logout
                </span> Logout
            </a>
        </div>
    </aside>
</body>
</html>